<!DOCTYPE html>
<html>
<head>
    <!--主框架颜色-->
    <link href="@Url.Content("~/Content/ligerUI/skins/Aqua/css/ligerui-all.css")" rel="stylesheet"/>
    <link href="@Url.Content("~/Content/ligerUI/skins/ligerui-icons.css")" rel="stylesheet" />
    <!--当前后台(首页)的样式-->
    <link href="@Url.Content("~/Content/css/common.css")" rel="stylesheet" />
    <!--主框架js-->
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")"></script>
    <script src="@Url.Content("~/Content/ligerUI/js/core/base.js")"></script>
    <script src="@Url.Content("~/Content/ligerUI/js/ligerui.all.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/base/ligerui.expand.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    <!--插件脚本-->
    <script src="@Url.Content("~/Content/ligerUI/js/plugins/ligerForm.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ligerUI/js/plugins/ligerGrid.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ligerUI/js/plugins/ligerToolBar.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ligerUI/js/plugins/ligerTip.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/base/tools.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/base/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/base/base.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-validation/jquery.validate.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/jquery-validation/jquery.metadata.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-validation/messages_cn.js")" type="text/javascript"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>
